################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BLGDLab.Business/bin/Debug/net9.0/BLGDLab.Business.dll
/BLGDLab.Business/bin/Debug/net9.0/BLGDLab.Business.pdb
/BLGDLab.Business/bin/Debug/net9.0/BLGDLab.Data.dll
/BLGDLab.Business/bin/Debug/net9.0/BLGDLab.Data.pdb
/BLGDLab.Data/bin/Debug/net9.0/BLGDLab.Data.dll
/BLGDLab.Data/bin/Debug/net9.0/BLGDLab.Data.pdb
/BLGDLab_BackEnd/bin/Debug/net9.0/BLGDLab.Business.dll
/BLGDLab_BackEnd/bin/Debug/net9.0/BLGDLab.Business.pdb
/BLGDLab_BackEnd/bin/Debug/net9.0/BLGDLab.Data.dll
/BLGDLab_BackEnd/bin/Debug/net9.0/BLGDLab.Data.pdb
/BLGDLab_BackEnd/bin/Debug/net9.0/BLGDLab_BackEnd.dll
/BLGDLab_BackEnd/bin/Debug/net9.0/BLGDLab_BackEnd.exe
/BLGDLab_BackEnd/bin/Debug/net9.0/BLGDLab_BackEnd.pdb
/BLGDLab_BackEnd/obj/Debug/net9.0/ref/BLGDLab_BackEnd.dll
/BLGDLab_BackEnd/obj/Debug/net9.0/refint/BLGDLab_BackEnd.dll
/BLGDLab_BackEnd/obj/Debug/net9.0/apphost.exe
/BLGDLab_BackEnd/obj/Debug/net9.0/BLGDLab_BackEnd.AssemblyInfo.cs
/BLGDLab_BackEnd/obj/Debug/net9.0/BLGDLab_BackEnd.AssemblyInfoInputs.cache
/BLGDLab_BackEnd/obj/Debug/net9.0/BLGDLab_BackEnd.assets.cache
/BLGDLab_BackEnd/obj/Debug/net9.0/BLGDLab_BackEnd.csproj.AssemblyReference.cache
/BLGDLab_BackEnd/obj/Debug/net9.0/BLGDLab_BackEnd.csproj.CoreCompileInputs.cache
/BLGDLab_BackEnd/obj/Debug/net9.0/BLGDLab_BackEnd.csproj.FileListAbsolute.txt
/BLGDLab_BackEnd/obj/Debug/net9.0/BLGDLab_BackEnd.dll
/BLGDLab_BackEnd/obj/Debug/net9.0/BLGDLab_BackEnd.GeneratedMSBuildEditorConfig.editorconfig
/BLGDLab_BackEnd/obj/Debug/net9.0/BLGDLab_BackEnd.genruntimeconfig.cache
/BLGDLab_BackEnd/obj/Debug/net9.0/BLGDLab_BackEnd.pdb
/BLGDLab_BackEnd/obj/Debug/net9.0/BLGDLab_BackEnd.sourcelink.json
/BLGDLab_BackEnd/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/BLGDLab_BackEnd/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/BLGDLab_BackEnd/obj/Debug/net9.0/rpswa.dswa.cache.json
/BLGDLab_BackEnd/obj/BLGDLab_BackEnd.csproj.nuget.dgspec.json
/BLGDLab_BackEnd/obj/BLGDLab_BackEnd.csproj.nuget.g.props
/BLGDLab_BackEnd/obj/project.assets.json
/BLGDLab_BackEnd/obj/project.nuget.cache
/BLGDLab.Business/obj/Debug/net9.0/ref/BLGDLab.Business.dll
/BLGDLab.Business/obj/Debug/net9.0/refint/BLGDLab.Business.dll
/BLGDLab.Business/obj/Debug/net9.0/BLGDLab.Business.AssemblyInfo.cs
/BLGDLab.Business/obj/Debug/net9.0/BLGDLab.Business.AssemblyInfoInputs.cache
/BLGDLab.Business/obj/Debug/net9.0/BLGDLab.Business.assets.cache
/BLGDLab.Business/obj/Debug/net9.0/BLGDLab.Business.csproj.AssemblyReference.cache
/BLGDLab.Business/obj/Debug/net9.0/BLGDLab.Business.csproj.CoreCompileInputs.cache
/BLGDLab.Business/obj/Debug/net9.0/BLGDLab.Business.csproj.FileListAbsolute.txt
/BLGDLab.Business/obj/Debug/net9.0/BLGDLab.Business.dll
/BLGDLab.Business/obj/Debug/net9.0/BLGDLab.Business.GeneratedMSBuildEditorConfig.editorconfig
/BLGDLab.Business/obj/Debug/net9.0/BLGDLab.Business.pdb
/BLGDLab.Business/obj/Debug/net9.0/BLGDLab.Business.sourcelink.json
/BLGDLab.Business/obj/BLGDLab.Business.csproj.nuget.dgspec.json
/BLGDLab.Business/obj/BLGDLab.Business.csproj.nuget.g.props
/BLGDLab.Business/obj/project.assets.json
/BLGDLab.Business/obj/project.nuget.cache
/BLGDLab.Data/obj/Debug/net9.0/ref/BLGDLab.Data.dll
/BLGDLab.Data/obj/Debug/net9.0/refint/BLGDLab.Data.dll
/BLGDLab.Data/obj/Debug/net9.0/BLGDLab.Data.AssemblyInfo.cs
/BLGDLab.Data/obj/Debug/net9.0/BLGDLab.Data.AssemblyInfoInputs.cache
/BLGDLab.Data/obj/Debug/net9.0/BLGDLab.Data.assets.cache
/BLGDLab.Data/obj/Debug/net9.0/BLGDLab.Data.csproj.AssemblyReference.cache
/BLGDLab.Data/obj/Debug/net9.0/BLGDLab.Data.csproj.CoreCompileInputs.cache
/BLGDLab.Data/obj/Debug/net9.0/BLGDLab.Data.csproj.FileListAbsolute.txt
/BLGDLab.Data/obj/Debug/net9.0/BLGDLab.Data.dll
/BLGDLab.Data/obj/Debug/net9.0/BLGDLab.Data.GeneratedMSBuildEditorConfig.editorconfig
/BLGDLab.Data/obj/Debug/net9.0/BLGDLab.Data.pdb
/BLGDLab.Data/obj/Debug/net9.0/BLGDLab.Data.sourcelink.json
/BLGDLab.Data/obj/BLGDLab.Data.csproj.nuget.dgspec.json
/BLGDLab.Data/obj/BLGDLab.Data.csproj.nuget.g.props
/BLGDLab.Data/obj/project.assets.json
/BLGDLab.Data/obj/project.nuget.cache
